.row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.col {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.flex {
    display: flex;
    flex-wrap: nowrap;

    &--space-between { justify-content: space-between; }
    &--start { justify-content: flex-start; }
    &--end { justify-content: flex-end; }
    &--center { justify-content: center; }
    &-grow--1 { flex-grow: 1; }
    &-shrink--1 { flex-shrink: 1; }
    &--col-reverse { flex-direction: column-reverse; }
    &--row-reverse { flex-direction: row-reverse; }
    &--center-align { align-items: center; }
}

.width {
    &--0 { width: 0; }
    &--16 { width: 16px; }
    &--24 { width: 24px; }
    &--32 { width: 32px; }
    &--40 { width: 40px; }
    &--48 { width: 48px; }
    &--64 { width: 64px; }
    &--96 { width: 96px; }
    &--128 { width: 128px; }
    &--150 { width: 150px; }
    &--10p { width: 10%; }
    &--20p { width: 20%; }
    &--30p { width: 30%; }
    &--40p { width: 40%; }
    &--50p { width: 50%; }
    &--60p { width: 60%; }
    &--70p { width: 70%; }
    &--80p { width: 80%; }
    &--90p { width: 90%; }
    &--full { width: 100%; }
    &--auto { width: auto; }
}

.height {
    &--16 { height: 16px; }
    &--24 { height: 24px; }
    &--32 { height: 32px; }
    &--40 { height: 40px; }
    &--48 { height: 48px; }
    &--64 { height: 64px; }
    &--96 { height: 96px; }
    &--128 { height: 128px; }
    &--150 { height: 150px; }
    &--10p { height: 10%; }
    &--20p { height: 20%; }
    &--30p { height: 30%; }
    &--40p { height: 40%; }
    &--50p { height: 50%; }
    &--60p { height: 60%; }
    &--70p { height: 70%; }
    &--80p { height: 80%; }
    &--90p { height: 90%; }
    &--full { height: 100%; }
    &--auto { height: auto; }
}

.line-height {
    &--16 { line-height: 16px; }
    &--32 { line-height: 32px; }
    &--64 { line-height: 64px; }
    &--128 { line-height: 128px; }
}

.m {
    &--0 { margin: 0px; }
    &--4 { margin: 4px; }
    &--8 { margin: 8px; }
    &--16 { margin: 16px; }
    &--24 { margin: 24px; }
    &--auto { margin: auto; }

    &t {
        &--0 { margin-top: 0px; }
        &--4 { margin-top: 4px; }
        &--8 { margin-top: 8px; }
        &--16 { margin-top: 16px; }
        &--24 { margin-top: 24px; }
        &--auto { margin-top: auto; }
    }

    &b {
        &--0 { margin-bottom: 0px; }
        &--4 { margin-bottom: 4px; }
        &--8 { margin-bottom: 8px; }
        &--16 { margin-bottom: 16px; }
        &--24 { margin-bottom: 24px; }
        &--auto { margin-bottom: auto; }
    }

    &l {
        &--0 { margin-left: 0px; }
        &--4 { margin-left: 4px; }
        &--8 { margin-left: 8px; }
        &--16 { margin-left: 16px; }
        &--24 { margin-left: 24px; }
        &--auto { margin-left: auto; }
    }

    &r {
        &--0 { margin-right: 0px; }
        &--4 { margin-right: 4px; }
        &--8 { margin-right: 8px; }
        &--16 { margin-right: 16px; }
        &--24 { margin-right: 24px; }
        &--auto { margin-right: auto; }
    }
    
    &x--auto {
        margin-left: auto;
        margin-right: auto;
    }

    &y--auto {
        margin-top: auto;
        margin-bottom: auto;
    }
}


.p {
    &--0 { padding: 0px; }
    &--8 { padding: 8px; }
    &--16 { padding: 16px; }
    &--24 { padding: 24px; }

    &t {
        &--0 { padding-top: 0px; }
        &--8 { padding-top: 8px; }
        &--16 { padding-top: 16px; }
        &--24 { padding-top: 24px; }
    }

    &b {
        &--0 { padding: 0px; }
        &--8 { padding-bottom: 8px; }
        &--16 { padding-bottom: 16px; }
        &--24 { padding-bottom: 24px; }
    }

    &l {
        &--0 { padding-left: 0px; }
        &--8 { padding-left: 8px; }
        &--16 { padding-left: 16px; }
        &--24 { padding-left: 24px; }
    }

    &r {
        &--0 { padding-right: 0px; }
        &--8 { padding-right: 8px; }
        &--16 { padding-right: 16px; }
        &--24 { padding-right: 24px; }
    }
}

.border {
    border: solid 1px var(--color-font);

    &--top { border-top: solid 1px var(--color-font); }
    &--bottom { border-bottom: solid 1px var(--color-font); }
    &--left { border-left: solid 1px var(--color-font); }
    &--right { border-bottom: solid 1px var(--color-font); }

    &--contrast { border-color: var(--color-contrast); }
    &--light-contrast { border-color: var(--color-light-contrast); }
}

.overflow {
    &--hidden { overflow: hidden; }
    &--visible { overflow: visible; }
    &--auto { overflow: auto; }
    &--scroll { overflow: scroll; }

    &_x {
        &--hidden { overflow-x: hidden; }
        &--visible { overflow-x: visible; }
        &--auto { overflow-x: auto; }
        &--scroll { overflow-x: scroll; }
    }

    &_y {
        &--hidden { overflow-y: hidden; }
        &--visible { overflow-y: visible; }
        &--auto { overflow-y: auto; }
        &--scroll { overflow-y: scroll; }
    }
}

.bg-color { background-color: var(--color-background); }