.btn {
    &--circle {
        border-radius: 50%;
    }

    &--primary-color { background-color: $color-secondary }

    &--md {
        width: 40px;
        height: 40px;
    }

    &--sm {
        width: 24px;
        height: 24px;
    }

    &--hidden {
        display: none;
    }
}

.icon-btn {
    &--primary {
        background-color: $color-secondary;
        color: $color-primary;
    }

    &--outlined {
        border: 1px solid $color-secondary;
        color: $color-primary;
    }
}