p {
    color: var(--color-font);
    overflow: hidden;
    margin: 0;
}

p.title {
    &--header {
        font-size: 20px;
        font-weight: bold;
    }

    &--room {
        font-size: 18px;
        font-weight: bold;
    }
}

p.date {
    width: 65px;
    font-size: 11px;
    margin: auto 0;
    text-align: end;
}

p.datetime {
    font-size: 11px;
    text-align: end;
    min-width: 65px;
    max-width: 96px;
}

p.text {
    font-size: 12px;
    white-space: nowrap;

    &--name {
        font-size: 15px;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
    }
}