#drawer {
    .MuiDrawer-paper {
        background-color: #fff;
        border: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }
}

#main {
    .MuiAppBar-colorPrimary {
        border-radius: 0 0 20px 20px;
        background-color: #333;
    }
}